$color_1: #030749;
$color_2: #213f7d;
$color_3: #39cdcc;
$color_4: rgba(0, 0, 0, 0.56);
$background-color_1: #39cdcc;

/* NavBar - start */
.nav {
	width: 15.313rem;
	border-right: 1px solid #f8f7f8;
	p {
		font-size: 0.938rem;
		font-weight: 700;
		color: $color_1;
	}
	li {
		margin: 0 0 3px 0;
		padding: 6px 2px;
	}
}
.link {
	cursor: pointer;
	text-decoration: none;
	padding: 3px 7px;
	font-size: 0.875rem;
	color: $color_2;
	&:hover {
		color: $color_3;
	}
}

.selected {
	border-left: 4px solid $color_3;
	background: rgb(245, 252, 252);
}
/* NavBar - end */

/* TopBar - start */
.topBar {
	background: #fff;
	padding: 2.5rem 0;
	font-size: 14px;
	font-weight: 700;
	height: 60px;
	width: 100%;
}
.searchBar {
	background: #fff;
	color: $color_4;
	border-radius: 8px;
	border: 1px solid #213f7d33;
	&:hover {
		border: 1px solid #2f12ad;
		border-radius: 10px;
	}
	&:focus {
		border: 1px solid #2f12ad;
		border-radius: 10px;
	}
	input {
		background: transparent;
		border: none;
		outline: none;
		color: $color_4;
		&::placeholder {
			color: $color_4;
			font-weight: 500;
			font-size: 12px;
		}
	}
}
.glassBg {
	background-color: $background-color_1;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.switch {
	color: $color_1;
	font-weight: 500;
	font-size: 0.875rem;
}
.icons {
	width: 2.5rem;
	height: 2.5rem;
}
/* TopBar - end */
