$color_1: #030749;
$color_2: #545F7D;
$color_3: #39cdcc;

.table {
	position: relative;
	thead {
		tr {
			border: none;
			border-style: none !important;
		}
		th {
			border: none;
			border-style: none !important;
		}
		border: none;
		border-style: none !important;

		.filterIcon{
			cursor: pointer;
		}
	}
	th {
		color: $color_1;
		font-weight: 500;
		font-size: 12px;
	}
	td {
		color: $color_1;
		font-weight: 400;
		font-size: 0.875rem;
	}
}

.filter {
	position: absolute;
	top: 50px;
	left: 10px;
	z-index: 4;
	label {
		font-size: 13px;
	}

	input {
		font-size: 11px;
	}

	.resetBtn {
		border: 1px solid $color_2;
		border-radius: 8px;
		font-size: 12px;
	}

	.filterBtn {
		color: #fff;
		border: none;
		font-size: 12px;
		background-color: $color_3;
		border-radius: 8px;
	}
}


